.Apple {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  /* background-image: linear-gradient(79deg,#826aed , #c879ff , #ffb7ff 20%, #3bf4fb, #caff8a ); */
  background-color: black;
}
.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #000000;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.main-style {
  display: flex;
  flex-direction: column;
  padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.rs-container {
  display: none;
}
.p-tag {
  width: 100vh;
}
.jarvis{

 width: fit-content;

}

/* logout css hopefully */
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width: 100%;
  background-color: black;
}

img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

.button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 25px;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 100px;
}

a:hover .logout {
  opacity: .9;
}

a {
  text-decoration: none;
}